<a href="https://colab.research.google.com/github/rosekimer/Sequelize/blob/main/ORIGEN_MESA__APLI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import gspread
import numpy as np
import openpyxl

In [2]:
url= '/content/ORIGEN_MESA.csv'
datos_xls= pd.read_csv(url,skiprows=8)
#datos_xls

In [3]:
#renombra las columnas
datos_xls.columns =['Num', 'ID', 'Asunto', 'Nombre del solicitante', 'Asignado a',
       'Fecha de creación', 'Estado', 'Sitio', 'Grupo',
       'Creado por', 'Hora de resolución', 'Hora de finalización',
       'Tiempo transcurrido', 'Tiempo en espera', 'Fecha de respuesta',
       'Tiempo de respuesta de SLA', 'Departamento','form']

In [4]:
datos_xls
#copia los datos de la columna "ID de la solicitud" en la del lado izquierdo y lo coloca como numero entero
for i in range(len(datos_xls)):
    datos_xls.iloc[i,0] = datos_xls['ID'][i].astype(int)

In [5]:
#ordena por la columna "Num"
datos_xls = datos_xls.sort_values('Num')

In [6]:
#elimina la 0 y 17 primer columna
datos_xls.drop(datos_xls.columns[[0,17]],axis= 'columns', inplace= True )

In [7]:
#renombra los titulos de las columnas
datos_xls.columns = ['ID', 'Asunto', 'Nombre del solicitante', 'Asignado a',
       'Fecha de creación', 'Estado', 'Sitio', 'Grupo',
       'Creado por', 'Hora de resolución', 'Hora de finalización',
       'Tiempo transcurrido', 'Tiempo en espera', 'Fecha de respuesta',
       'Tiempo de respuesta de SLA', 'Departamento']

In [8]:
import gspread
from oauth2client.service_account import ServiceAccountCredentials

scope = ['https://spreadsheets.google.com/feeds',
         'https://www.googleapis.com/auth/drive']

credentials = ServiceAccountCredentials.from_json_keyfile_name('/content/claveproyectoesquema.json', scope)

gc = gspread.authorize(credentials)

In [9]:
sh = gc.open_by_key('1SVsE5WEzT0o6x_71Qk1E0USZk8vlHclhAu5qDDr1_CI')

In [10]:
worksheet = sh.get_worksheet(0)

guarda todos los registros del anterior worksheet en sheet

In [11]:
sheet = worksheet.get_all_values()

actualiz los registros del worksheet con los nuevos registros del dataframe

In [12]:
import numpy as np
array = np.array(datos_xls.values.tolist())
# Write the array to worksheet starting from the A2 cell
worksheet.update('B9', array.tolist())

{'spreadsheetId': '1SVsE5WEzT0o6x_71Qk1E0USZk8vlHclhAu5qDDr1_CI',
 'updatedRange': "'ManageEngine Report Framework'!B9:Q23284",
 'updatedRows': 23276,
 'updatedColumns': 16,
 'updatedCells': 372416}

hasta aqui el nuevo aplicativo para cargar el data frame en google sheet

a la variable tot_reg le asigna el numero total de registros del worksheet anterior

In [13]:
tot_reg=len(sheet)

In [14]:
tot_reg

23284

a la variable tot_new_reg le asigna el numero total de registros del data frame

In [15]:
tot_new_reg = len(datos_xls)

In [16]:
range(len(datos_xls)-tot_reg)

range(0, -8)

In [17]:
k= tot_new_reg-tot_reg + 8
k=str(k)
len(k)
k=int(k)
k

0

In [19]:
k= tot_new_reg-tot_reg + 8
k=str(k)
p=len(k)
c = k[0]
c = int(c)
k=int(k)


def update_formula(k):
   a = 0
   r = 0
   b = 0
   if k > 100 and k<= 170:
      a = k/3
      b = k%3
      r = 3
   elif k > 170 and k <= 235:
      a = k/4
      b = k%4
      r = 4
   elif k > 235 and k <= 345:
      a = k/6
      b = k%6
      r = 6
   elif k > 345 and k <= 470:
      a = k/8
      b = k%8
      r = 8
   elif k > 470 and k <= 599:
      a = k/10
      b = k%10
      r = 10
   elif k > 599 and k <= 700:
      a = k/12
      b = k%12
      r = 12
   elif k > 700 and k <= 950:
      a = k/16
      b = k%16
      r = 16
   elif k > 50 and k <= 100:
      a = k/2
      b = k%2
      r = 2
   elif k > 0 and k <= 50:
      a = k
      b = 0
      r = 1 
   else:
      print('no hay datos o sobrepasa el numero de registros por insertar')

    #print(f'valor de a: {a}') 
   a=int(a)
   x=tot_reg
   n = 0
   i=1
   while  i <= int(r):
        print(i)
        j = 1
        while j <= a:
          n = j+x
          worksheet.update_cell(n,1,'=SI(O(E'+str(n)+'="DESARROLLO";E'+str(n)+'="Mario Herrera Sanchez"); SI(AÑO(F'+str(n)+')=2020;ALEATORIO.ENTRE(1;10);SI(AÑO(F'+str(n)+')=2021;ALEATORIO.ENTRE(1;12);SI(AÑO(F'+str(n)+')=2022;ALEATORIO.ENTRE(1;16);"")));"")')
          print(j)
          j +=1;
        m = 150000
        if i == r:
          x = x+ a
          break
        else:
          while m > 0:
            print(m)
            m -= 1;
        x = x+ a
        i += 1;
   if b > 0:
      d=1
      while d <= b:
        n = x + d
        worksheet.update_cell(n,1,'=SI(O(E'+str(n)+'="DESARROLLO";E'+str(n)+'="Mario Herrera Sanchez"); SI(AÑO(F'+str(n)+')=2020;ALEATORIO.ENTRE(1;10);SI(AÑO(F'+str(n)+')=2021;ALEATORIO.ENTRE(1;12);SI(AÑO(F'+str(n)+')=2022;ALEATORIO.ENTRE(1;16);"")));"")')
        print(d)
        d +=1;   


print(f'valor de "c","p" y "k":{c} {p} {k}')
update_formula(k)

valor de "c","p" y "k":0 1 0
no hay datos o sobrepasa el numero de registros por insertar

In [ ]:
k= tot_new_reg-tot_reg + 8
k=str(k)
p=len(k)
c = k[0]
c = int(c)
k=int(k)

def update_formula(k):
   a = 0
   r = 0
   b = 0
   if k > 100 and k<= 170:
      a = k/3
      b = k%3
      r = 3
   elif k > 170 and k <= 235:
      a = k/4
      b = k%4
      r = 4
   elif k > 235 and k <= 345:
      a = k/6
      b = k%6
      r = 6
   elif k > 345 and k <= 470:
      a = k/8
      b = k%8
      r = 8
   elif k > 470 and k <= 599:
      a = k/10
      b = k%10
      r = 10
   elif k > 599 and k <= 700:
      a = k/12
      b = k%12
      r = 12
   elif k > 700 and k <= 950:
      a = k/16
      b = k%16
      r = 16
   elif k > 50 and k <= 100:
      a = k/2
      b = k%2
      r = 2
   elif k > 0 and k <= 50:
      a = k
      b = 0
      r = 1 
   else:
      print('no hay datos o sobrepasa el numero de registros por insertar')

    #print(f'valor de a: {a}') 
   a=int(a)
   x=tot_reg
   n = 0
   i=1
   while  i <= int(r):
        #print(i)
        j = 1
        while j <= a:
          n = j+x
          worksheet.update_cell(n,21,'=SI(A'+str(n)+'="";"";SI(AÑO(F'+str(n)+')=2020;BUSCARV(A'+str(n)+';Recursos!$E$20:$F$29;2);SI(AÑO(F'+str(n)+')=2021;BUSCARV(A'+str(n)+';Recursos!$E$3:$F$14;2);SI(AÑO(F'+str(n)+')=2022;BUSCARV(A'+str(n)+';Recursos!$I$3:$J$18;2);""))))')
          #print(j)
          j +=1;
        m = 150000
        if i == r:
          x = x+ a
          break
        else:
          while m > 0:
            #print(m)
            m -= 1;
        x = x+ a
        i += 1;
   if b > 0:
      d=1
      while d <= b:
        n = x + d
        worksheet.update_cell(n,21,'=SI(A'+str(n)+'="";"";SI(AÑO(F'+str(n)+')=2020;BUSCARV(A'+str(n)+';Recursos!$E$20:$F$29;2);SI(AÑO(F'+str(n)+')=2021;BUSCARV(A'+str(n)+';Recursos!$E$3:$F$14;2);SI(AÑO(F'+str(n)+')=2022;BUSCARV(A'+str(n)+';Recursos!$I$3:$J$18;2);""))))')
        #print(d)
        d +=1;   


print(f'valor de "c","p" y "k":{c} {p} {k}')
update_formula(k)

In [ ]:
k= tot_new_reg-tot_reg + 8
k=str(k)
p=len(k)
c = k[0]
c = int(c)
k=int(k)
if c == 1 and p == 3:
    a = k/3
    a=int(a)
    b = k%3
    x=tot_reg
    n = 0
    i=1
    while  i <= 3:
        
        print(i)
        j = 1
        while j <= a:
          n = j+x
          worksheet.update_cell(n,1,'=SI(O(E'+str(n)+'="DESARROLLO";E'+str(n)+'="Mario Herrera Sanchez"); SI(AÑO(F'+str(n)+')=2020;ALEATORIO.ENTRE(1;10);SI(AÑO(F'+str(n)+')=2021;ALEATORIO.ENTRE(1;12);SI(AÑO(F'+str(n)+')=2022;ALEATORIO.ENTRE(1;16);"")));"")')
          print(j)
          j +=1;
        
        m = 150000
        if i == 3:
          x = x+ a
          break
        else:
          while m > 0:
            print(m)
            m -= 1;

        x = x+ a
        i += 1;
    if b > 0:
      d=1
      while d <= b:
        n = x + d
        worksheet.update_cell(n,1,'=SI(O(E'+str(n)+'="DESARROLLO";E'+str(n)+'="Mario Herrera Sanchez"); SI(AÑO(F'+str(n)+')=2020;ALEATORIO.ENTRE(1;10);SI(AÑO(F'+str(n)+')=2021;ALEATORIO.ENTRE(1;12);SI(AÑO(F'+str(n)+')=2022;ALEATORIO.ENTRE(1;16);"")));"")')
        print(d)
        d +=1;
     
elif c == 2 and p == 3:
    a = k/4
    a=int(a)
    b = k%4
    x=tot_reg
    n = 0
    i=1
    while  i <= 4:
        
        print(i)
        j = 1
        while j <= a:
          n = j+x
          worksheet.update_cell(n,1,'=SI(O(E'+str(n)+'="DESARROLLO";E'+str(n)+'="Mario Herrera Sanchez"); SI(AÑO(F'+str(n)+')=2020;ALEATORIO.ENTRE(1;10);SI(AÑO(F'+str(n)+')=2021;ALEATORIO.ENTRE(1;12);SI(AÑO(F'+str(n)+')=2022;ALEATORIO.ENTRE(1;16);"")));"")')
          print(j)
          j +=1;
        #m = 250000
        m = 150000
        if i == 4:
          x = x+ a
          break
        else:
          while m > 0:
            print(m)
            m -= 1;

        x = x+ a
        i += 1;
    if b > 0:
      d=1
      while d <= b:
        n = x + d
        worksheet.update_cell(n,1,'=SI(O(E'+str(n)+'="DESARROLLO";E'+str(n)+'="Mario Herrera Sanchez"); SI(AÑO(F'+str(n)+')=2020;ALEATORIO.ENTRE(1;10);SI(AÑO(F'+str(n)+')=2021;ALEATORIO.ENTRE(1;12);SI(AÑO(F'+str(n)+')=2022;ALEATORIO.ENTRE(1;16);"")));"")')
        print(d)
        d +=1;
     
elif c == 3 and p == 3:
    a = k/6
    a=int(a)
    b = k%6
    x=tot_reg
    n = 0
    i=1
    while  i <= 6:
        
        print(i)
        j = 1
        while j <= a:
          n = j+x
          worksheet.update_cell(n,1,'=SI(O(E'+str(n)+'="DESARROLLO";E'+str(n)+'="Mario Herrera Sanchez"); SI(AÑO(F'+str(n)+')=2020;ALEATORIO.ENTRE(1;10);SI(AÑO(F'+str(n)+')=2021;ALEATORIO.ENTRE(1;12);SI(AÑO(F'+str(n)+')=2022;ALEATORIO.ENTRE(1;16);"")));"")')
          print(j)
          j +=1;
        
        m = 150000
        if i == 6:
          x = x+ a
          break
        else:
          while m > 0:
            print(m)
            m -= 1;

        x = x+ a
        i += 1;
    if b > 0:
      d=1
      while d <= b:
        n = x + d
        worksheet.update_cell(n,1,'=SI(O(E'+str(n)+'="DESARROLLO";E'+str(n)+'="Mario Herrera Sanchez"); SI(AÑO(F'+str(n)+')=2020;ALEATORIO.ENTRE(1;10);SI(AÑO(F'+str(n)+')=2021;ALEATORIO.ENTRE(1;12);SI(AÑO(F'+str(n)+')=2022;ALEATORIO.ENTRE(1;16);"")));"")')
        print(d)
        d +=1;
elif p == 2:
    a = k/2
    a=int(a)
    b = k%2
    x=tot_reg
    n = 0
    i=1
    while  i <= 2:
        
        print(i)
        j = 1
        while j <= a:
          n = j+x
          worksheet.update_cell(n,1,'=SI(O(E'+str(n)+'="DESARROLLO";E'+str(n)+'="Mario Herrera Sanchez"); SI(AÑO(F'+str(n)+')=2020;ALEATORIO.ENTRE(1;10);SI(AÑO(F'+str(n)+')=2021;ALEATORIO.ENTRE(1;12);SI(AÑO(F'+str(n)+')=2022;ALEATORIO.ENTRE(1;16);"")));"")')
          print(j)
          j +=1;
        
        m = 150000
        if i == 2:
          x = x+ a
          break
        else:
          while m > 0:
            print(m)
            m -= 1;

        x = x+ a
        i += 1;
    if b > 0:
      d=1
      while d <= b:
        n = x + d
        worksheet.update_cell(n,1,'=SI(O(E'+str(n)+'="DESARROLLO";E'+str(n)+'="Mario Herrera Sanchez"); SI(AÑO(F'+str(n)+')=2020;ALEATORIO.ENTRE(1;10);SI(AÑO(F'+str(n)+')=2021;ALEATORIO.ENTRE(1;12);SI(AÑO(F'+str(n)+')=2022;ALEATORIO.ENTRE(1;16);"")));"")')
        print(d)
        d +=1;
else:
  print("todo mal")

In [ ]:
k= tot_new_reg-tot_reg + 8
k=str(k)
p=len(k)
c = k[0]
c = int(c)
k=int(k)
k

In [2]:
#clase para poder generar la clausula swich-case 
class switch:

	def __init__(self, variable, comparator=None, strict=False):
		self.variable = variable
		self.matched = False
		self.matching = False
		if comparator:
			self.comparator = comparator
		else:
			self.comparator = lambda x, y: x == y
		self.strict = strict

	def __enter__(self):
		return self

	def __exit__(self, exc_type, exc_val, exc_tb):
		pass

	def case(self, expr, break_=False):
		if self.strict:
			if self.matched:
				return False
		if self.matching or self.comparator(self.variable, expr):
			if not break_:
				self.matching = True
			else:
				self.matched = True
				self.matching = False
			return True
		else:
			return False

	def default(self):
		return not self.matched and not self.matching


dia = 4

with switch(dia) as s:
	if s.case(1):
		print('lunes')
	if s.case(2):
		print('martes')
	if s.case(3):
		print('miércoles')
	if s.case(4):
		print('jueves')
	if s.case(5):
		print('viernes')
	if s.case(6):
		print('sábado')
	if s.case(7):
		print('domingo')
	if s.default():
		print('error')

jueves
viernes
sábado
domingo

In [4]:
class Semaforo:

	def __init__(self):
		self.luz = 'Rojo' #creamos e inicializamos la variable de instancia

	def cambiar(self, nuevo_estado):
		self.luz = nuevo_estado #cambiamos el valor de la variable de instancia

#creamos dos instancias
un_semaforo = Semaforo() 
otro_semaforo = Semaforo()
otro_semaforo_mas = Semaforo()

#cambiamos el valor de la variable de instancia luz de una de las instancias
un_semaforo.cambiar('Verde') 
otro_semaforo.cambiar('Azul')

#mostramos por pantalla el valor de las variables de cada instancia
print(un_semaforo.luz)
print(otro_semaforo.luz)
print(otro_semaforo_mas.luz)

Verde
Azul
Rojo

In [8]:
if __name__ == "__main__":
       def ConR(self):
         Conjunto = ["A"]
         Dict = {"A":1}
         Cont = 1
         Aux=None
         AUX=None
         Add = None
         OK=False
         M=0
         print(len(Conjunto)+1)
         while OK == False:
            #try:
                M = int( (input("Ingrese n : ") ) )
                while len(Conjunto)<=M-1:
                        Add = input("Ingrese el Elemento N\xfamero " + str(Cont) + " : ")
                        if Add in Conjunto:
                                    Aux = Dict.get(Add)
                                    AUX = Aux + 1
                                    Dict.update({Add:AUX})
                                    print(Dict)
                                    Conjunto.append(Add)
                                    Cont+=1
                        else:
                            Conjunto.append(Add)
                            Dict.update({Add:1})
                            Cont+=1
                        M = factorial(M)
                        print("Hay " + str(M) + " Posibles Permutaciones con Repetici\xf3n")
                        OK = True
            #except:
                print("Ha ocurrido un error   :(")
                print("\xbfSegugo de que has introducido un n\xfamero?")
         return M
         ConR(self)

In [9]:
class Perro:

	tipo_de_animal = 'Mamífero' #se define la variable de clase

	def __init__(self, nombre):
		self.nombre = nombre #se define la variable de instancia

#creamos dos instancias de Perro
luna = Perro('Luna')
golfo = Perro('Golfo')

#mostramos la información de las variables de clase y de instancia
print(f'{luna.nombre} es un {luna.tipo_de_animal}') #acceso a través de la instancia
print(f'{golfo.nombre} es un {golfo.tipo_de_animal}')

print(f'Todos los perros son de tipo {Perro.tipo_de_animal}') #acceso a través de la clase

Luna es un Mamífero
Golfo es un Mamífero
Todos los perros son de tipo Mamífero

In [ ]:
class Vivienda:

	temperatura_maxima = -100 #inicializamos a un valor ficticio muy pequeño

	def __init__(self, temperatura):
		self.temperatura_actual = temperatura
		self.registrar_temperatura(temperatura)

	def registrar_temperatura(self, nueva_temperatura):
		self.temperatura_actual = nueva_temperatura
		# si alguna vivienda supera la temperatura máxima se actualiza la variable de clase
		if self.temperatura_actual > self.temperatura_maxima:
			self.__class__.temperatura_maxima = self.temperatura_actual

#creamos tres viviendas y registramos su temperatura inicial
v1 = Vivienda(20)
v2 = Vivienda(23)
v3 = Vivienda(18)

#mostramos la temperatura máxima
print(f'La temperatura máxima es {Vivienda.temperatura_maxima}')

#registramos algunas temperaturas nuevas
v1.registrar_temperatura(25)
v2.registrar_temperatura(22)
v3.registrar_temperatura(21)

#mostramos las temperaturas de las viviendas y la temperatura máxima
print(f'Temperatura vivienda 1: {v1.temperatura_actual}')
print(f'Temperatura vivienda 2: {v2.temperatura_actual}')
print(f'Temperatura vivienda 3: {v3.temperatura_actual}')
print(f'La temperatura máxima es {Vivienda.temperatura_maxima}')

La temperatura máxima es 23
Temperatura vivienda 1: 25
Temperatura vivienda 2: 22
Temperatura vivienda 3: 21
La temperatura máxima es 25

In [10]:
z=range(3)
z=list(z)

s = ['foo', 'bar']
while len(z):
    print(z.pop(0))
    #z = [0,1,2]
    while len(z):
        print(z.pop(0))

0
1
2

In [ ]:
m = 50000
while m > 0:
   m -= 1
   print(m)

In [ ]:
j=range(len(datos_xls)-tot_reg)
x=tot_reg
for i in j:
  n = i+x
  worksheet.update_cell(n,1,'=SI(O(E'+str(n)+'="DESARROLLO";E'+str(n)+'="Mario Herrera Sanchez"); SI(AÑO(F'+str(n)+')=2020;ALEATORIO.ENTRE(1;10);SI(AÑO(F'+str(n)+')=2021;ALEATORIO.ENTRE(1;12);SI(AÑO(F'+str(n)+')=2022;ALEATORIO.ENTRE(1;16);"")));"")')

In [ ]:
#emulando en bucle do while el cual siempre se ejecuta al menos una vez
while True:
     number = int(input("Enter a positive number: "))
     print(number)
     if not number > 0:
         break

In [ ]:
#adivina el numero que se genera aleatoriamente con el randint 
from random import randint

LOW, HIGH = 1, 10

secret_number = randint(LOW, HIGH)
clue = ""

def process_move(clue):
    user_input = input(f"adivina el numero entre {LOW} y {HIGH} {clue} ")
    number = int(user_input)
    if number > secret_number:
        clue = f"(menos que {number})"
    elif number < secret_number:
        clue = f"(mayor que {number})"
    return number, clue

number, clue = process_move(clue)  # First iteration

while number != secret_number:
    number, clue = process_move(clue)

print(f"Haz adivinado! El numero secreto es: {number}")

Guess a number between 1 and 10  5
Guess a number between 1 and 10 (greater than 5) 6
Guess a number between 1 and 10 (greater than 6) 7
You guessed it! The secret number is 7

In [ ]:
j=range(len(datos_xls)-tot_reg)
j=list(j)
j=len(j)
x=tot_reg
y=tot_reg + j + 9

rango=range(x,y)
lista = list(rango)
#j = range(len(j))
#val=int(j)
#r=val%3
#j

#dfj
lista
#rango
dflista = pd.DataFrame(lista)

dflista.columns =['Num']
#dflista['Num']=dflista['Num'].astype(int) 
dflista


dflista
#for i in dflista['Num']:
#    if i < y:
#      worksheet.update_cell(i,1,'=SI(O(E'+str(i)+'="DESARROLLO";E'+str(i)+'="Mario Herrera Sanchez"); SI(AÑO(F'+str(i)+')=2020;ALEATORIO.ENTRE(1;10);SI(AÑO(F'+str(i)+')=2021;ALEATORIO.ENTRE(1;12);SI(AÑO(F'+str(i)+')=2022;ALEATORIO.ENTRE(1;16);"")));"")')

dflista['Num'] = np.where(dflista['Num']<y-200, 
                           'value1',np.where(dflista['Num']<y-100, 
                                              'value2',np.where(dflista['Num']<y-10, 
                                                                'value3', 'value4')))       
#dflista.loc[dflista['Num'] <= int(y), 'equal_or_lower_than_4?'] = '=SI(O(E'+str(dflista['Num'])+'="DESARROLLO";E'+str(dflista['Num'])+'="Mario Herrera Sanchez"); SI(AÑO(F'+str(dflista['Num'])+')=2020;ALEATORIO.ENTRE(1;10);SI(AÑO(F'+str(dflista['Num'])+')=2021;ALEATORIO.ENTRE(1;12);SI(AÑO(F'+str(dflista['Num'])+')=2022;ALEATORIO.ENTRE(1;16);"")));"")'
#for i in dflista['Num']:
print(dflista)

In [ ]:
#j = range(tot_new_reg-tot_reg) convertir la resta en rango
#j=list(j) conversion a lista
#j=len(j) determinar cuantos elementos hay en list
#x=tot_reg
#este valor seria hasta que celda llegarian los datos en googl sheet y=tot_reg + j + 9(9 es el num de celda a partir de donde se pegaron los registros en google sheet)
#y=tot_new_reg

#rango=range(x,y)
#lista = list(rango)
#j = range(len(j))
#val=int(j)
#r=val%3
#len(datos_xls)
#n = j%3

n = tot_reg
j=range(tot_new_reg-tot_reg)
i = 1
while i < len(j):
    worksheet.update_cell(n,1,'=SI(O(E'+str(n)+'="DESARROLLO";E'+str(n)+'="Mario Herrera Sanchez"); SI(AÑO(F'+str(n)+')=2020;ALEATORIO.ENTRE(1;10);SI(AÑO(F'+str(n)+')=2021;ALEATORIO.ENTRE(1;12);SI(AÑO(F'+str(n)+')=2022;ALEATORIO.ENTRE(1;16);"")));"")')
    n = n + 1
    i += 1
    print(n)

#if j % 3 != 0 : 
#    print("Invalid row_number") 
#else:
#  d=j/3
#  d=int(d)
#  j=range(d)
#  x=tot_reg
#  for i in j:
#    n = i+x
    #worksheet.update_cell(n,1,'=SI(O(E'+str(n)+'="DESARROLLO";E'+str(n)+'="Mario Herrera Sanchez"); SI(AÑO(F'+str(n)+')=2020;ALEATORIO.ENTRE(1;10);SI(AÑO(F'+str(n)+')=2021;ALEATORIO.ENTRE(1;12);SI(AÑO(F'+str(n)+')=2022;ALEATORIO.ENTRE(1;16);"")));"")')



#k= tot_new_reg-tot_reg
#k=str(k)
#len(k)
#k[0]

#k=int(k)
#l=k%3
#l

In [ ]:
def digitos_cero_y_cinco(n):
    contador = 0
    while n:
        
        digito = n % 10
        print(digito)
        if digito == 0 or digito == 5:
            contador = contador + 1
            
        n = n / 10
    return contador


digitos_cero_y_cinco(1055030250)

In [ ]:
def muestra_raiz_cuadrada(x):
    if x <= 0:
        print ("Por favor, use sólo números positivos.")
        return 


    resultado = x**0.5
    print ("La raíz cuadrada de x es", resultado)



muestra_raiz_cuadrada(-10)

Por favor, use sólo números positivos.

In [ ]:
fruta = "banana"
indice = 0
while indice < len(fruta):
    letra = fruta[indice]
    print (letra)
    indice += 1

b
a
n
a
n
a

In [11]:
i = 1
print ("i\ti**2\ti**3\ti**5\ti**10\ti**20")
while i <= 10:
    print (i, '\t', i**2, '\t', i**3, '\t', i**5, '\t', i**10, '\t', i**20)
    i += 1

i	i**2	i**3	i**5	i**10	i**20
1 	 1 	 1 	 1 	 1 	 1
2 	 4 	 8 	 32 	 1024 	 1048576
3 	 9 	 27 	 243 	 59049 	 3486784401
4 	 16 	 64 	 1024 	 1048576 	 1099511627776
5 	 25 	 125 	 3125 	 9765625 	 95367431640625
6 	 36 	 216 	 7776 	 60466176 	 3656158440062976
7 	 49 	 343 	 16807 	 282475249 	 79792266297612001
8 	 64 	 512 	 32768 	 1073741824 	 1152921504606846976
9 	 81 	 729 	 59049 	 3486784401 	 12157665459056928801
10 	 100 	 1000 	 100000 	 10000000000 	 100000000000000000000

In [ ]:

n = 0
j=list(j)
j=len(j)
x=tot_reg + d
j = j-d
if j%3 != 0 : 
    print("Invalid row_number") 
else:
  d=j/3
  d=int(d)
  j=range(d)
  for i in j:
    n = i+x
    worksheet.update_cell(n,1,'=SI(O(E'+str(n)+'="DESARROLLO";E'+str(n)+'="Mario Herrera Sanchez"); SI(AÑO(F'+str(n)+')=2020;ALEATORIO.ENTRE(1;10);SI(AÑO(F'+str(n)+')=2021;ALEATORIO.ENTRE(1;12);SI(AÑO(F'+str(n)+')=2022;ALEATORIO.ENTRE(1;16);"")));"")')
  
n = 0
j=list(j)
j=len(j)
x=tot_reg + d
j = j-d
if j%3 != 0 : 
    print("Invalid row_number") 
else:
  d=j/3
  d=int(d)
  j=range(d)
  for i in j:
    n = i+x
    worksheet.update_cell(n,1,'=SI(O(E'+str(n)+'="DESARROLLO";E'+str(n)+'="Mario Herrera Sanchez"); SI(AÑO(F'+str(n)+')=2020;ALEATORIO.ENTRE(1;10);SI(AÑO(F'+str(n)+')=2021;ALEATORIO.ENTRE(1;12);SI(AÑO(F'+str(n)+')=2022;ALEATORIO.ENTRE(1;16);"")));"")')

In [ ]:
from collections import defaultdict

text = 'Mary had a little lamb'
chars = defaultdict(int)

for char in text:
    chars[char] += 1
    
print(chars['a'])
print(chars['t'])
print(chars['l'])

In [ ]:
j = range(len(datos_xls)-tot_reg)

x=tot_reg
for i in j:
  n = i+x
  worksheet.update_cell(n,1,'=SI(O(E'+str(n)+'="DESARROLLO";E'+str(n)+'="Mario Herrera Sanchez"); SI(AÑO(F'+str(n)+')=2020;ALEATORIO.ENTRE(1;10);SI(AÑO(F'+str(n)+')=2021;ALEATORIO.ENTRE(1;12);SI(AÑO(F'+str(n)+')=2022;ALEATORIO.ENTRE(1;16);"")));"")')

range(0, 7)

In [ ]:
#Escriba un programa en Python para encontrar números entre 120 y 200 que sean divisibles por 7 y múltiplos de 5 sin usar un "bucle for".
valid_nums = filter(lambda x: x % 35 == 0, range(120, 200))
list(valid_nums)

In [ ]:
list(range(((120//35)+1)*35,200,35))

[140, 175]

In [ ]:
import pandas as pd

data = {'set_of_numbers': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]}
df = pd.DataFrame(data)

df.loc[df['set_of_numbers'] <= 4, 'equal_or_lower_than_4?'] = 'True' 
df.loc[df['set_of_numbers'] > 4, 'equal_or_lower_than_4?'] = 'False' 

print(df)

In [ ]:
x=tot_reg
j =range(len(datos_xls)-x)


cell_list = worksheet.range(j)
for cell in cell_list:

    cell.value ='=SI(O(E'+str(n)+'="DESARROLLO";E'+str(n)+'="Mario Herrera Sanchez"); SI(AÑO(F'+str(n)+')=2020;ALEATORIO.ENTRE(1;10);SI(AÑO(F'+str(n)+')=2021;ALEATORIO.ENTRE(1;12);SI(AÑO(F'+str(n)+')=2022;ALEATORIO.ENTRE(1;16);"")));"")'

worksheet.update_cells(cell_list)

In [ ]:
rows = worksheet.get_all_values()

df['new_column'] = np.where(df['col2']<9, 
                            'value1',np.where(df['col2']<12, 
                                              'value2',np.where(df['col2']<15, 
                                                                'value3', 'value4')))

In [ ]:
import numpy as np
import pandas as pd

marks_array = np.array([['', 'Mathematics', 'Economics'],
                        ['Sunny', 25, 23],
                        ['Alice', 23, 24]])

print("NumPy Data Array is:")
print(marks_array)

NumPy Data Array is:
[['' 'Mathematics' 'Economics']
 ['Sunny' '25' '23']
 ['Alice' '23' '24']]

In [ ]:
df = pd.DataFrame(columns=rows)

In [ ]:
worksheet.update('A1:A20', '=ALEATORIO.ENTRE(1;16)')

In [ ]:
worksheet.update_acell('R20C1:R25C1', '=ALEATORIO.ENTRE(1;16)')

In [ ]:
worksheet.update_acell('A23289','=ALEATORIO.ENTRE(1;16)')

In [ ]:
worksheet.update_cell(23287, 1, '=SI(O(E23285="DESARROLLO";E23285="Mario Herrera Sanchez"); SI(R23285=2020;ALEATORIO.ENTRE(1;10);SI(R23285=2021;ALEATORIO.ENTRE(1;12);SI(R23285=2022;ALEATORIO.ENTRE(1;16);"")));"")')

{'spreadsheetId': '1hqni7LhsunObatvZK_uD7S67EXazRasctD-AblEfOkE',
 'updatedRange': "'ManageEngine Report Framework'!A23287",
 'updatedRows': 1,
 'updatedColumns': 1,
 'updatedCells': 1}

In [ ]:
cell_list = worksheet.range('A23060:A23285')
for cell in cell_list:
  cell.value = '=SI(O(E23285="DESARROLLO";E23285="Mario Herrera Sanchez"); SI(R23285=2020;ALEATORIO.ENTRE(1;10);SI(R23285=2021;ALEATORIO.ENTRE(1;12);SI(R23285=2022;ALEATORIO.ENTRE(1;16);"")));"")'
  #worksheet.update_cell(cell, 1, '=SI(O(E23285="DESARROLLO";E23285="Mario Herrera Sanchez"); SI(R23285=2020;ALEATORIO.ENTRE(1;10);SI(R23285=2021;ALEATORIO.ENTRE(1;12);SI(R23285=2022;ALEATORIO.ENTRE(1;16);"")));"")')


worksheet.update_cells(cell_list)

{'spreadsheetId': '1hqni7LhsunObatvZK_uD7S67EXazRasctD-AblEfOkE',
 'updatedRange': "'ManageEngine Report Framework'!A23060:A23285",
 'updatedRows': 226,
 'updatedColumns': 1,
 'updatedCells': 226}

In [ ]:
worksheet.row_count

23320

In [ ]:
j=23285-23060
for i in range(len(datos_xls)-23060):
  worksheet.update_cell(i+23060,j, '=SI(O(E23285="DESARROLLO";E23285="Mario Herrera Sanchez"); SI(R23285=2020;ALEATORIO.ENTRE(1;10);SI(R23285=2021;ALEATORIO.ENTRE(1;12);SI(R23285=2022;ALEATORIO.ENTRE(1;16);"")));"")')

In [ ]:
#inserta un file en el 9 renglon
row = ["I'm","inserting","a","row","into","a,","Spreadsheet","with","Python"]
index = 9
worksheet.insert_row(row, index)

In [ ]:
#df = datos_xls
#def Insert_row_(row_number, df, row_value): 
    
#    df1 = df[0:row_number] 
   
    
#    df2 = df[row_number:] 
   
    
#    df1.loc[row_number]=row_value 
   
    
#    df_result = pd.concat([df1, df2]) 
   
    
#    df_result.index = [*range(df_result.shape[0])] 
   
    
#    return df_result 
   
#row_number = 0
#row_value = ['','','','','','','','','','','','','','','','','' ] 
#x = range(6)

#if row_number > df.index.max()+1: 
#    print("Invalid row_number") 
#else:
    #inserta 6 renglones vacios al primcipio 
#        for n in x:
#              df = Insert_row_(0, df, row_value)

In [ ]:
#def Insert_row_(row_number, df, row_value): 
    
#    df1 = df[0:row_number] 
   
    
#    df2 = df[row_number:] 
   
    
#    df1.loc[row_number]=row_value 
   
    
#    df_result = pd.concat([df1, df2]) 
   
    
#    df_result.index = [*range(df_result.shape[0])] 
   
    
#    return df_result 
   
#row_number = 6
#row_value = ['Num', 'ID', 'Asunto', 'Nombre del solicitante', 'Asignado a',
#       'Fecha de creación', 'Estado', 'Sitio', 'Grupo',
#       'Creado por', 'Hora de resolución', 'Hora de finalización',
#       'Tiempo transcurrido', 'Tiempo en espera', 'Fecha de respuesta',
#       'Tiempo de respuesta de SLA', 'Departamento'] 
  
#if row_number > df.index.max()+1: 
#    print("Invalid row_number") 
#else: 
  
    #inserta un renglon con los valores de los nombres del titulo de columnas en la fila 6
    
 #   df = Insert_row_(6, df, row_value)

In [ ]:
#renombra los titulos de las columnas y las deja en blanco
#df.columns =['','','','','','','','','','','','','','','','','' ]

In [ ]:
#df=datos_xls.values.tolist()
#df_renglones = range(len(datos_xls))
#df_colum =range(len(datos_xls.columns.tolist()))
#df_colum ,df_renglones

In [ ]:

#cell_list = range(len(df))
#df=datos_xls
#for i in range(len(datos_xls)):
 # for j in range(len(datos_xls.columns.tolist())):
       #worksheet.update_cell(i+1, j+1, df.iat[i,j])
   #worksheet.update_cell(i+1, j+1, 'O_0')
   #print(f'{df.iat[i,j]} : {i} : {j}')

    #worksheet.update_cells(datos_xls.columns.tolist())

In [ ]:
 #worksheet.range('B8:Q8')

In [ ]:
#cell_list = worksheet.range('B8:Q8')
#for cell in cell_list:
#    cell.value = 'O_1'
#    print(f'{cell_list}')

#worksheet.update_cells(cell_list)

In [ ]:
#print(df.iat[df.index[-1],16])

In [ ]:
#print(df.iat[6,0])

In [ ]:
#worksheet.update([datos_xls.columns.values.tolist()] + datos_xls.values.tolist())